---
import ProjectCard from "../ProjectCard/ProjectCard.astro";
import projects from "../../../data/projects.json";
---

<section id="box" class="box grid grid-rows-[100px_auto] w-full h-full mt-6  px-24">
  <article class="h-fit row-start-1 col-start-1">
    <h2 class="text-5xl font-bold font-bodyfont text-center">My Recent Work</h2>
  </article>
  <div class="grid grid-cols-1 grid-rows-1">
    <article 
      class="col-start-1 row-start-1 gap-6 h-full grid xl:grid-cols-3 [&>div]:mt-4 sm:grid-cols-1 sm:h md:grid-cols-2"
    >
      {
        projects.map((project) => (
          <ProjectCard 
            project_id={`project_${project.project_id}`}
            project_image={project.project_image}
            project_name={project.project_name}
            project_font={project.project_font}
            project_description_short={project.project_description_short}
            project_tech_stack={project.project_tech_stack}
          />
        ))
      }
    </article>
  </div>
</section>
<script is:inline>

    console.log(`Callng from projects`);
</script>