---
const { data } = Astro.props;
export interface Data {
  data: {
    id: string;
    name: string;
    slug: string;
    cover: string;
    cover_alt: string;
    cover_w: number;
    cover_h: number;
    project_gradient?: string;
    font: string;
    description_short: string;
    tech_stack: string[];
  };
}
---

<div
  id={`project_${data.id}`}
  class="card2 grid max-h-72 w-full max-w-sm sm:max-w-lg"
>
  <div
    id=`info_${data.id}`
    class="z-20 z-40 col-start-1 row-start-1 grid min-h-full w-full justify-center rounded-2xl bg-primary1 py-10 align-middle text-primary2 opacity-0 transition duration-300 ease-in-out hover:opacity-100"
  >
    <div class="col-start-1 row-start-1">
      <h4 class="text-center text-2xl">{data.name}</h4>

      <p class="text-center text-accent1">
        {
          data.tech_stack.map((stack, index) => {
            return data.tech_stack.length === index + 1 ? (
              <span>{stack.name}</span>
            ) : (
              <>
                <span>{stack.name}</span>
                <span class="mx-1">/</span>
              </>
            );
          })
        }
      </p>
    </div>
    <a
      href=`/projects/${data.slug}`
      class="h-fit w-fit self-end justify-self-center rounded-md border border-accent1 px-6 py-2 hover:cursor-pointer"
      >LEARN MORE</a
    >
  </div>

  <div
    class="relative col-start-1 row-start-1 h-[200px] w-full overflow-hidden rounded-2xl transition ease-in-out sm:h-full"
  >
    <div class="absolute left-0 top-0 z-20 min-h-full w-full bg-primary1/70">
    </div>
    <img
      class="h-full w-full rounded-2xl object-cover"
      src={`assets/${data.cover}`}
      alt={data.cover_alt}
    />
  </div>
</div>
