---
const { data } = Astro.props;
export interface Data {
  data: {
    id: string;
    name: string;
    slug: string;
    cover: string;
    cover_alt: string;
    cover_w: number;
    cover_h: number;
    project_gradient?: string;
    font: string;
    description_short: string;
    tech_stack: string[];
  };
}
---

<div
  id={`project_${data.id}`}
  class="card2 w-full max-h-72 grid max-w-sm sm:max-w-lg"
>
  <div
    id=`info_${data.id}`
    class="opacity-0 hover:opacity-100 duration-300 rounded-2xl w-full min-h-full bg-primary1 z-20 col-start-1 row-start-1 transition ease-in-out grid justify-center align-middle text-primary2 py-10"
  >
    <div class="row-start-1 col-start-1">
      <h4 class="text-center text-2xl">{data.name}</h4>

      <p class="text-accent1 text-center">
        {
          data.tech_stack.map((stack, index) => {
            return data.tech_stack.length === index + 1 ? (
              <span>{stack.name}</span>
            ) : (
              <>
                <span>{stack.name}</span>
                <span class="mx-1">/</span>
              </>
            );
          })
        }
      </p>
    </div>
    <a
      href=`/projects/${data.slug}`
      class="border border-accent1 h-fit w-fit self-end justify-self-center py-2 px-6 rounded-md hover:cursor-pointer"
      >LEARN MORE</a
    >
  </div>

  <div
    class="relative overflow-hidden w-full h-[200px] rounded-2xl col-start-1 row-start-1 transition ease-in-out"
  >
    <div class="absolute top-0 left-0 w-full min-h-full bg-primary1/70"></div>
    <img
      class="rounded-2xl h-full w-full object-cover"
      src={`assets/${data.cover}`}
      alt={data.cover_alt}
    />
  </div>
</div>
